body {
  font-family: "Raleway", sans-serif;
}

#header,
#recherche,
#hebergement,
#activités {
  margin: 0px 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/************************* en tête de la page *************************/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

header #logo {
  height: 65px;
  width: 180px;
  padding: 10px 0 0 40px;
  margin-left: 50px;
}

.liensNav {
  padding: 40px 40px;
  font-weight: 500;
  border-top: 3.5px solid transparent;
}

.liensNav:hover {
  color: #0065fc;
  border-top: 3.5px solid #0065fc;
}

/************************* titres en tête *************************/
#recherche {
  margin-left: 50px;
}

h1 {
  font-size: xx-large;
}

.enTete {
  font-size: large;
  font-weight: 200;
  padding-bottom: 15px;
}

/************************* barre de recherches *************************/

.searchForm {
  display: flex;
  align-items: center;
  border: 1px;
}

.searchForm .searchBar {
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 15px 15px;
}

.locationDot {
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  padding: 15px 15px;
}

.searchBar {
  font-weight: 700;
}

.searchButton {
  border: 2px;
  color: white;
  font-weight: 700;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  padding: 15px 15px;
  cursor: pointer;
}
.searchButton i {
  display: none;
}

/************************* Filtres*************************/

.filtres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
}

.filtres .textesFiltres {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 70px;
  border: 2px solid #deebff;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-left: 2px solid transparent;
  cursor: pointer;
}

.filtres .textesFiltres:hover {
  border: none;
  background-color: #deebff;
  transform: scale(1.125);
  transition: 0.9s;
  border: solid 2px transparent;
}

.titreFiltres {
  font-size: medium;
  font-weight: 600;
}

.textesFiltres span {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  padding: 15px 15px;
  margin-left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textesFiltres label {
  padding-right: 20px;
  display: inline;
}

.textesFiltres {
  border: none;
  border-radius: 50%;
}

/************************* info bulle *************************/

.info {
  display: flex;
  align-items: center;
  margin: 25px 0px 40px 0px;
  gap: 15px;
}

.fa-sharp {
  background-color: white;
  border: 2px solid rgb(228, 228, 228);
  color: #0065fc;
  border-radius: 100%;
  padding: 5px 10px;
}

/************************* résultats hébergements + generique *************************/

#hebergement {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.marseille h2,
.populaire h2 {
  padding: 20px 5px 20px 8px;
}

.marseille,
.populaire {
  background-color: #f2f2f2;
  border-radius: 25px;
  gap: 16px;
  padding: 25px 35px;
}

.marseille {
  width: 105%;
}

.marseille .containerCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  gap: 30px;
}

.marseille .containerCard .card {
  width: 30%;
  min-width: 230px;
  background-color: white;
  border-radius: 25px;
  border: 5px solid white;
  overflow: hidden;
}

.marseille .containerCard .card img {
  width: 100%;
  object-fit: cover;
  height: 140px;
}

.marseille .content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note {
  color: #0065fc;
}

.grey {
  color: #f2f2f2;
}

.marseille > .afficher {
  display: flex;
  padding: 35px 0 20px 5px;
}

.afficher:hover {
  color: #0065fc;
}

.containerCard .card {
  box-shadow: rgba(17, 17, 26, 0.08) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.containerCard .card:hover {
  transform: scale(1.12);
  transition: 0.9s;
}

/************************* Les plus populaires *************************/

.populaire {
  width: auto;
}

.populaire .etoilePop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.etoilePop .fa-star {
  font-size: x-large;
}

.populaire .containerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.populaire .containerCard .card {
  width: 100%;
  background-color: white;
  border-radius: 25px;
  border: 5px solid white;
  overflow: hidden;
  display: flex;
  height: 160px;
}

.populaire .containerCard .card img {
  width: 40%;
  min-width: 40%;
  object-fit: cover;
  height: 100%;
}

.populaire .content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/************************* Activités à Marseille *************************/

#activités > h2 {
  margin-top: 60px;
  padding-bottom: 30px;
}

#activités .activites {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  height: 600px;
  min-height: 600px;
}

.conteneurImg {
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.image:hover {
  transform: scale(1.12);
  transition: 0.9s;
}

.conteneurLarge {
  width: 23%;
  min-width: 23%;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
}

.smallMedium {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 23%;
}

.medium {
  width: 100%;
  max-width: 100%;
  height: 58%;
}

.small {
  width: 100%;
  max-width: 100%;
  height: 37%;
}

.conteneurLarge,
.medium,
.small {
  border-radius: 25px;
  box-shadow: rgba(17, 17, 26, 0.08) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  overflow: hidden;
  position: relative;
}

.contentTitre {
  padding: 20px 0 15px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-size: small;
}

/************************* pied de page *************************/

footer {
  margin-top: 60px;
  background-color: #f2f2f2;
}

.listes {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.aPropos,
.nosHebergements,
.assistance {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 30%;
}

.titreFooter {
  padding-bottom: 15px;
}

li {
  list-style: none;
  padding-bottom: 8px;
}

li:hover {
  color: #0065fc;
}

/************************* RESPONSIVE *************************/

/* en tête */

@media screen and (max-width: 768px) {
  header {
    display: block;
    text-align: center;
  }

  header #logo {
    text-align: center;
    padding-left: 30px;
    height: 70px;
    width: 190px;
  }

  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .liensNav {
    flex: 2;
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid #f2f2f2;
    padding: 10px 40px;
  }

  .liensNav:hover {
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid #0065fc;
  }

  /* titres en tête */

  #recherche {
    margin: 0 30px;
  }

  h1 {
    font-size: large;
  }
  .enTete {
    padding: 10px 0px 0px 0px;
    font-size: small;
  }

  /* barre de recherches */

  .searchForm {
    margin: 0px;
    padding: 30px 0px;
  }

  .searchButton span {
    display: none;
  }
  .searchButton {
    border-radius: 15px;
  }
  .searchButton i {
    border: 2px;
    color: white;
    font-weight: 700;
    background-color: #0065fc;
    padding: 1px 1px;
    cursor: pointer;
    display: flex;
  }

  /* filtres */

  .titreFiltres {
    padding-right: 70px;
  }

  /* hébergements */

  #hebergement {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .populaire {
    background-color: #f2f2f2;
    border-radius: 0;
    padding: 0;
    width: 100%;
  }
  .marseille {
    background-color: white;
  }

  .marseille,
  .populaire {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
  }

  .marseille .containerCard .card,
  .populaire .containerCard.card {
    width: 100%;
    gap: 20px;
  }

  /* activités */

  #activités {
    margin: 0;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
  }

  #activités .activites {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
  }

  .conteneurLarge,
  .smallMedium {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .conteneurLarge {
    overflow: hidden;
    border-radius: 25px;
  }

  .large {
    height: 220px;
    width: 100%;
  }

  .medium,
  .small {
    height: 220px;
    gap: 20px;
    position: relative;
  }

  .contentTitre {
    padding: 10px 0 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    font-size: small;
  }

  /* footer */

  .listes {
    padding: 30px 30px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .aPropos,
  .nosHebergements,
  .assistance {
    width: 100%;
  }
}

/* MQ tablette */

/* en tête */

@media screen and (max-width: 992px) and (min-width: 768px) {
  header {
    display: block;
    text-align: center;
  }

  header #logo {
    text-align: center;
    padding-left: 30px;
    height: 70px;
    width: 190px;
  }

  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .liensNav {
    flex: 2;
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid #f2f2f2;
    padding: 10px 40px;
  }

  .liensNav:hover {
    border-top: 3.5px solid transparent;
    border-bottom: 3.5px solid #0065fc;
  }

  /* titres en tête */

  #recherche {
    margin: 0 30px;
  }

  h1 {
    font-size: x-large;
  }

  #recherche p {
    font-size: large;
  }
  .enTete {
    padding: 10px 0px 0px 0px;
    font-size: small;
    margin-bottom: 10px;
  }

  /* hébergements */

  #hebergement {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .populaire {
    background-color: #f2f2f2;
    border-radius: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
  }
  .marseille {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .populaire .containerCard.card {
    width: 100%;
    gap: 20px;
  }

  .marseille .containerCard .card {
    width: 45%;
  }

  /* activités */

  #activités {
    margin: 0;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
  }

  #activités .activites {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
  }

  .conteneurLarge,
  .smallMedium {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .conteneurLarge {
    overflow: hidden;
    border-radius: 25px;
  }

  .large {
    height: 220px;
    width: 100%;
  }

  .medium,
  .small {
    height: 220px;
    gap: 20px;
    position: relative;
  }

  .contentTitre {
    padding: 10px 0 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    font-size: small;
  }
}
